
/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid ,.carousel ,.aboutusrow ,.easytoorder, .footer {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

/*============= IMAGE SLIDER =============*/

.carousel-item {
  height: 100vh;
}


/*---Change Carousel Transition Speed --*/
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
  transition: -webkit-transform 1.2s ease;
  transition: transform 1.2s ease;
  transition: transform 1.2s ease,-webkit-transform 1.2s ease;

}

/*---.aboutus,.btnbox,.testimony .person.image img --*/

.aboutus{
    background: #FFFFFF;
    border: solid 2px #b49383;
    box-shadow: 0px 45px 70px rgba(0,0,0,0.24); 
	  
}
.btnbox{
  height:max-content;
  color:white;
  border: 1px solid black; 
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);  
}
.testimony .person .image img {
  width: 50px;
  border-radius: 50%;
  max-width: 100%;
}
.testimony {
  background:#b49383;
  padding: 2em;
  color: rgb(0, 0, 0);
}

button{
  width:max-content;
  font:arial;
  background-color: #ffffff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight:bold;
  font-size: 16px;
  margin: 0px 2px;
  cursor: pointer
 }  
 nav{
   background-color:rgba(0, 0, 0, .6);
 }
 
.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.parallax{
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/